table {
  background: linear-gradient(#80FF40, #C0FF40, #FFC000, #FF0000, #800000);
  border-collapse: collapse;
  border-style: double;
}

thead th {
  width: 9.5%;
}

th {
  border-style: solid;
  background-color: #FFC0C0;
}

body tr:nth-child(even) td:nth-child(n+2) {
  background-color: #D8D8D8;
}

tbody tr:nth-child(odd) td:nth-child(n+2) {
  background-color: #FFFFFF;
}

td {
  border-left: solid;
  border-right: solid;
  text-align: right;
}

tbody tr td:nth-child(1) {
  background-color: transparent;
}
